<section id="us-main">

    <div class="header">
        <div class="header-content">
            <h3>
                {{projectName}}
                <a href="#/defects">
                    <span class="btn btn-default"><span class="glyphicon glyphicon-wrench"></span></span>
                </a>

                <a href="#/config">
                    <span class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></span>
                </a>
            </h3>
        </div>
    </div>

    <div class="us-container">

        <div class="row" >
            <div class="col-sm-6 col-md-4" ng-repeat="story in us_list">
                <div class="thumbnail us-card">

                    <div class="caption">
                        <time-chart data="story" class="time-chart"></time-chart>

                        <h4>{{$index + 1}} {{story.FormattedID}}</h4>
                        <p>{{story.Name}}</p>
                        <p> <a href="#" class="btn btn-primary" role="button">Tasks ({{story.tasks.length}})</a>
                        </p>

                    </div>

                    <div class="task-container">
                        <ul class="task" ng-repeat="task in story.tasks">
                            <li class="task-title"> {{task._refObjectName}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


<div id="loading" ng-if="loading">
    <img id="loading-image" src="./images/loading_spinner.gif"/>
</div>
