<section id="us-main">

    <div class="header">
        <div class="header-content">
            <h3>
                {{projectName}}
                <a href="#/defects">
                    <span class="btn btn-default"><span class="glyphicon glyphicon-wrench"></span></span>
                </a>

                <a href="#/config">
                    <span class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></span>
                </a>
            </h3>
        </div>
    </div>

    <div class="search">
        <div class="input-group">
            <input ng-model="nameFilter.text" type="text" class="form-control" placeholder="Search..." aria-describedby="basic-addon2"> </input>
            <span class="input-group-addon" id="basic-addon2">Search</span>
        </div>
    </div>

    <!--End tool bar-->


    <div class="us-container">

        <div class="row panel panel-default" ng-repeat="story in us_list | filter: searchFilter">

            <div class="col-md-2">
                <div >
                    <time-chart data="story" class="time-chart"></time-chart>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card card-block">
                    <a href={{story.Url}} target="_blank">
                        <h4 class="card-title">{{$index + 1}}. {{story.FormattedID}}</h4>
                    </a>
                    <p>{{story.Name}}</p>
                    <p> <button class="btn btn-primary"  ng-click="toggleClass($index)"> Tasks ({{story.tasks.length}})</button></p>

                </div>
                <div class="task-container" ng-if="isToggled[$index]">
                    <ul class="task" ng-repeat="task in story.tasks">
                        <a href={{task.Url}} target="_blank">
                            <li class="task-title">{{task.FormattedID}} {{task._refObjectName}}</li>
                        </a>
                    </ul>
                </div>
            </div>

            <div class="col-md-2"> </div>
        </div>
    </div>

</section>


<div id="loading" ng-if="loading">
    <img id="loading-image" src="./images/loading_spinner.gif"/>
</div>
