$font-stack:   120%, Helvetica, sans-serif;
$primary-color: #334;
$row-color: #CCC;
$grey-text: #BBB;

.header-content{
  display: inline;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.graph{
	width: 100%;
	height: 400px;
  overflow: hidden;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  #defect-main{
  	width: 90%;
    margin: 0 auto;
  }

  #us-main{
    width: 90%;
    margin: 0 auto;
  }
  .search{
  	width: 30%;
  	margin-left: 70px;
  	float: right;
  }
  .refresh{
  	width: 150px;
  	margin-left: 360px;
  	float: right;
  }
  .config{
    width: 30px;
    margin-left: 10px;
    float: right;
  }
}

.toolBar{
	width: 100%;
  height: 30px;
	margin: 10px;
	.orderButton{
		display: inline;
	}
	.container-fluid{
	      float: left;
     	  display: inline-block;
     
    .property-btn {
			width: 150px;
			color: black;
    }
	}
	.option{

	}
}


.toggled{
	background-color: #0052cc !important;
	color: white !important;
}
.strike {
    text-decoration: line-through;
    color: $grey-text; 
}

.popoverStyle{
  text-decoration: none !important;
  color: black !important;
}


.hide{
	display: none;
}
.show{
	display: block !important;
}

.label{
	display: inline-block;
	max-width: 50px !important;
}
.tags{
	width: 50px !important;
	overflow: hidden;
}

#loading {
	position: fixed;
    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
    height: 100%;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
  margin: auto;
  z-index: 100;
}


/* config page */
.config-input{
  margin-top: 10px;
  margin-bottom: 10px;
}


.us-container{
  margin-top: 60px;
  margin-bottom: 30px;
}