$font-stack:    Helvetica, sans-serif;
$primary-color: #334;
$row-color: #CCC;
$grey-text: #DDD;

body {
  font: 100% $font-stack;
  color: $primary-color;
  #main{
  	width: 90%;
 	margin: 0 auto;
  }
  .search{
  	width: 30%;
  	margin-left: 10px;
  	float: right;
  }
}

.toolBar{
	margin: 10px;
	.orderButton{
		display: inline;
	}
	.container-fluid{
		float: left;
  		width: 200px;
		display: inline;
	}
	.option{

	}

}


.toggled{
	background-color: #0052cc !important;
	color: white !important;
}
.strike {
    text-decoration: line-through;
    color: $grey-text !important;
}

.mainTable {

	thead {

	}
	.index {
		color: red;
	}


	tr:nth-child(even){
		background-color: $row-color;
	}

	td: {
	    border: 2px solid black;

	}

}

.hide{
	display: none;
}
.show{
	display: block !important;
}

.label{
	display: inline-block;
	max-width: 50px !important;
}
.tags{
	width: 50px !important;
	overflow: hidden;
}


// .row{

// 	background-color: 	background-color: $row-color;
// }